* {
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
}

body,
html {
  background: #eee;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  color: blue;
  text-decoration: none;
}

/* Loading.tsx */

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading > * {
  vertical-align: middle;
}

.loading .loading-text {
  margin-left: 0.75em;
}

.loading-ring {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
}

.loading-ring:after {
  content: " ";
  display: block;
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  border: 0.175em solid #ccc;
  border-color: #ccc #ccc #ccc transparent;
  animation: loading-ring 1.2s linear infinite;
}

@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}